Repository gardener/gardener-extension-provider-vsphere, pull requests merged in 2020-10, with the labels that each got.

#84 add minAllowed for machine-controller-manager-vpa
  charts/internal/machine-controller-manager/seed/templates/vpa.yaml
Labels: area/auto-scaling, area/control-plane, kind/enhancement, needs/ok-to-test, platform/vsphere, priority/normal

#85 check for orphan unmanaged LB service on deleting infrastructure
  docs/usage-as-end-user.md
  go.mod
  go.sum
  hack/update-github-templates.sh
  pkg/cmd/infra-cli/loadbalancer/destroy.go
  pkg/vsphere/infrastructure/ensurer/ensurer.go
  vendor/k8s.io/cloud-provider-vsphere/pkg/cloudprovider/vsphere/loadbalancer/cleanup.go
  vendor/k8s.io/cloud-provider-vsphere/pkg/cloudprovider/vsphere/loadbalancer/interface.go
  vendor/modules.txt
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/vsphere, priority/normal

#90 update cloud-provider-vsphere
  charts/images.yaml
  charts/internal/cloud-provider-config/templates/_helpers.tpl
  charts/internal/cloud-provider-config/templates/cloud-provider-config.yaml
  charts/internal/cloud-provider-config/values.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/technical-debt, needs/ok-to-test, platform/vsphere, priority/normal, size/m

#93 add priority class for extension pods
  charts/gardener-extension-provider-vsphere/templates/_helpers.tpl
  charts/gardener-extension-provider-vsphere/templates/deployment.yaml
  charts/gardener-extension-provider-vsphere/templates/priorityclass.yaml
  example/controller-registration.yaml
Labels: area/high-availability, kind/enhancement, needs/ok-to-test, platform/vsphere, priority/normal, reviewed/lgtm, size/xs

#94 update vsphere-csi-driver from v2.0.0 to v2.0.1
  charts/images.yaml
Labels: area/control-plane, kind/task, needs/ok-to-test, platform/vsphere, priority/normal, size/xs
