Repository gardener/gardener-extension-provider-vsphere, pull requests merged in 2020-09, with the labels that each got.

#78 Cleanup make test
  Makefile
Labels: kind/cleanup, needs/ok-to-test, platform/vsphere, priority/normal, reviewed/lgtm

#79 Updated RBAC to allow node/status update by MCM
  charts/internal/machine-controller-manager/shoot/templates/clusterrole-machine-controller-manager.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, platform/vsphere, priority/normal, reviewed/lgtm

#76 authorize shoot specific IP pools and T1 gateway
  docs/usage-as-end-user.md
  pkg/apis/vsphere/validation/controlplane.go
  pkg/cmd/infra-cli/create.go
  pkg/cmd/infra-cli/destroy.go
  pkg/cmd/infra-cli/ippools.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/vsphere/helpers/helpers.go
  pkg/vsphere/infrastructure/ensurer/ensurer.go
  pkg/vsphere/infrastructure/infraspec.go
  pkg/vsphere/infrastructure/interface.go
  pkg/vsphere/infrastructure/task/helpers.go
  pkg/vsphere/infrastructure/task/helpers_test.go
  pkg/vsphere/infrastructure/task/interface.go
  pkg/vsphere/infrastructure/task/taskhelper.go
  pkg/vsphere/infrastructure/task/tasks.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/vsphere, priority/normal

#81 set VERSION to 0.1.0
  VERSION
  example/controller-registration.yaml
Labels: area/control-plane, kind/task, needs/ok-to-test, platform/vsphere, priority/normal
