Repository gardener/gardener-extension-provider-vsphere, pull requests merged in 2020-11, with the labels that each got.

#95 add optional DHCPOptions and docker daemon options to cloud profile
  docs/usage-as-operator.md
  hack/api-reference/api.md
  pkg/apis/vsphere/types_cloudprofile.go
  pkg/apis/vsphere/v1alpha1/types_cloudprofile.go
  pkg/apis/vsphere/v1alpha1/zz_generated.conversion.go
  pkg/apis/vsphere/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/vsphere/validation/cloudprofile.go
  pkg/apis/vsphere/zz_generated.deepcopy.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/vsphere/infrastructure/interface.go
  pkg/vsphere/infrastructure/task/helpers.go
  pkg/vsphere/infrastructure/task/helpers_test.go
  pkg/vsphere/infrastructure/task/taskhelper.go
  pkg/vsphere/infrastructure/task/tasks.go
  pkg/vsphere/infrastructure/task/tasks_advanced_dhcp.go
  pkg/webhook/controlplane/ensurer.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, needs/second-opinion, platform/vsphere, priority/normal, size/xl

#99 Fix "make test" on macOS
  Makefile
  go.mod
  go.sum
  vendor/github.com/gobuffalo/packr/v2/SHOULDERS.md
  vendor/github.com/gobuffalo/packr/v2/go.mod
  vendor/github.com/gobuffalo/packr/v2/go.sum
  vendor/github.com/gobuffalo/packr/v2/version.go
  vendor/github.com/karrick/godirwalk/bench.sh
  vendor/github.com/karrick/godirwalk/readdir_unix.go
  vendor/github.com/karrick/godirwalk/scandir_unix.go
  vendor/modules.txt
Labels: area/dev-productivity, kind/bug, needs/ok-to-test, platform/vsphere, priority/normal, reviewed/lgtm, size/xs

#97 add volumeBindingMode for shoot storage class
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/vsphere, priority/normal, size/xs

#101 fix volumeBindingMode and indendation of availability zones labels in cloud-provider-config
  charts/internal/cloud-provider-config/templates/cloud-provider-config.yaml
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
  charts/internal/shoot-storageclasses/values.yaml
  pkg/controller/controlplane/valuesprovider.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/vsphere, priority/normal, reviewed/lgtm, size/xs

#105 shoot default storageclass: enable allowVolumeExpansion if resizer is available
  Dockerfile
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
  charts/internal/shoot-storageclasses/values.yaml
  pkg/controller/controlplane/valuesprovider.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/vsphere, priority/normal, size/xs

#110 added shoot role for mcm
  VERSION
  charts/internal/machine-controller-manager/shoot/templates/role-machine-controller-manager.yaml
  charts/internal/machine-controller-manager/shoot/templates/rolebinding-machine-controller-manager.yaml
  example/controller-registration.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/vsphere, priority/normal, size/s
