Repository gardener/gardener-extension-provider-vsphere, pull requests merged in 2020-08, with the labels that each got.

#70 Change default webhook server port to 10250
  charts/gardener-extension-provider-vsphere/values.yaml
  charts/gardener-extension-validator-vsphere/values.yaml
  example/controller-registration.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#69 Populate worker-configuration in machine deployment
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, platform/vmware, priority/normal, reviewed/lgtm

#64 downgrading vsphere-csi-driver to resolve PVC detachment issue
  .github/ISSUE_TEMPLATE/bug.md
  .gitignore
  Makefile
  charts/images.yaml
  charts/internal/machineclass/templates/machineclass.yaml
  charts/internal/seed-controlplane/charts/csi-vsphere/templates/vsphere-csi-controller.yaml
  charts/internal/seed-controlplane/charts/csi-vsphere/values.yaml
  charts/internal/shoot-system-components/charts/csi-vsphere/templates/daemonset.yaml
  charts/internal/shoot-system-components/charts/csi-vsphere/values.yaml
  go.mod
  go.sum
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/vsphere/infrastructure/ensurer/ensurer.go
  pkg/vsphere/infrastructure/task/interface.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/controlplane/genericactuator/noopvaluesprovider.go
  vendor/github.com/gardener/gardener/hack/check.sh
  vendor/github.com/gardener/gardener/hack/format.sh
  vendor/github.com/gardener/gardener/hack/install-requirements.sh
  vendor/github.com/gardener/gardener/pkg/mock/controller-runtime/client/mocks.go
  vendor/github.com/gardener/gardener/pkg/mock/gardener/client/kubernetes/mocks.go
  vendor/github.com/gardener/gardener/pkg/mock/gardener/client/kubernetes/mocks_applier.go
  vendor/github.com/gardener/gardener/pkg/mock/gardener/client/kubernetes/mocks_chartapplier.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/addons.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/botanist.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/dns.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/dns/dnsowner.go
  vendor/github.com/gardener/gardener/pkg/operation/shoot/types.go
  vendor/github.com/gardener/gardener/pkg/utils/errors/multierror.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/deployment.go
  vendor/github.com/golang/mock/gomock/call.go
  vendor/github.com/golang/mock/gomock/controller.go
  vendor/github.com/golang/mock/gomock/matchers.go
  vendor/github.com/golang/mock/mockgen/mockgen.go
  vendor/github.com/golang/mock/mockgen/model/model.go
  vendor/github.com/golang/mock/mockgen/parse.go
  vendor/golang.org/x/mod/internal/lazyregexp/lazyre.go
  vendor/golang.org/x/mod/modfile/print.go
  vendor/golang.org/x/mod/modfile/read.go
  vendor/golang.org/x/mod/modfile/rule.go
  vendor/modules.txt
Labels: area/control-plane, area/quality, kind/discussion, needs/ok-to-test, platform/vmware, priority/normal

#57 Adapt the extension to Loki
  charts/gardener-extension-provider-vsphere/templates/configmap-logging.yaml
  example/controller-registration.yaml
Labels: area/logging, needs/ok-to-test, needs/rebase, platform/vmware, priority/normal, status/author-action

#71 enabling csi2, revendoring g/g v1.8.0
  .github/pull_request_template.md
  Makefile
  charts/gardener-extension-provider-vsphere/templates/deployment.yaml
  charts/gardener-extension-provider-vsphere/templates/service.yaml
  charts/gardener-extension-provider-vsphere/values.yaml
  example/controller-registration.yaml
  go.mod
  go.sum
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/webhook/controlplaneexposure/ensurer.go
  pkg/webhook/controlplaneexposure/ensurer_test.go
  vendor/github.com/gardener/gardener/.github/pull_request_template.md
  vendor/github.com/gardener/gardener/extensions/pkg/controller/controlplane/genericactuator/actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/worker/helpers.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/cmd/options.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/registration.go
  vendor/github.com/gardener/gardener/hack/update-protobuf.sh
  vendor/github.com/gardener/gardener/pkg/apis/core/types_cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.pb.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.pb.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/apis/core/validation/cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/validation/shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane.go
  vendor/modules.txt
Labels: area/quality, kind/technical-debt, needs/ok-to-test, platform/vmware, priority/normal

#72 Add namespaces/finalizers to extension RBAC role
  charts/gardener-extension-provider-vsphere/templates/rbac.yaml
  example/controller-registration.yaml
Labels: area/quality, kind/bug, needs/ok-to-test, platform/vmware, priority/normal, reviewed/lgtm

#73 Recreate storage classes if update is failing
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
Labels: area/ops-productivity, area/robustness, area/storage, kind/enhancement, needs/ok-to-test, platform/vmware, priority/normal, reviewed/lgtm, topology/shoot

#75 set FailureDomainLabels for csi-vsphere.conf
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/pull_request_template.md
  charts/internal/seed-controlplane/charts/csi-vsphere/templates/_helpers.tpl
  charts/internal/seed-controlplane/charts/csi-vsphere/values.yaml
  charts/internal/shoot-system-components/charts/csi-vsphere/templates/_helpers.tpl
  charts/internal/shoot-system-components/charts/csi-vsphere/values.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/vsphere, priority/normal
