Repository gardener/gardener-extension-provider-vsphere, pull requests merged in 2020-06, with the labels that each got.

#51 [ci:component:github.com/gardener/machine-controller-manager:v0.30.0->v0.31.0]
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm

#53 [ci:component:github.com/gardener/machine-controller-manager-provider-vsphere:v0.4.0->v0.5.0]
  charts/images.yaml
Labels: needs/ok-to-test

#55 Remove NoExecute toleration from CCM
  charts/internal/seed-controlplane/charts/vsphere-cloud-controller-manager/templates/cloud-controller-manager.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#56 add rolling update strategy to deployment
  charts/gardener-extension-provider-vsphere/templates/deployment.yaml
  charts/gardener-extension-provider-vsphere/values.yaml
  example/controller-registration.yaml
Labels: area/control-plane, kind/technical-debt, needs/ok-to-test
