Repository gardener/gardener-extension-provider-vsphere, pull requests merged in 2021-02, with the labels that each got.

#126 VPA for validator/admission component
  charts/gardener-extension-provider-vsphere/templates/vpa.yaml
  charts/gardener-extension-provider-vsphere/values.yaml
  charts/gardener-extension-validator-vsphere/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-validator-vsphere/values.yaml
  example/controller-registration.yaml
Labels: area/auto-scaling, area/scalability, kind/enhancement, needs/ok-to-test, platform/vsphere, priority/normal, reviewed/lgtm, size/s

#124 use secret for cloud-provider-config
  charts/internal/cloud-provider-config/templates/_cloud-provider-config.tpl
  charts/internal/cloud-provider-config/templates/cloud-provider-config.yaml
  charts/internal/seed-controlplane/charts/vsphere-cloud-controller-manager/templates/cloud-controller-manager.yaml
  pkg/controller/controlplane/add.go
  pkg/controller/controlplane/clean_old_resources.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/control-plane, area/security, kind/task, needs/ok-to-test, platform/vsphere, priority/normal, reviewed/lgtm, size/m

#128 updated image of mcm-provider-vsphere to v0.9.0
  charts/gardener-extension-validator-vsphere/charts/runtime/templates/poddisruptionbudget.yaml
  charts/images.yaml
  charts/internal/machine-controller-manager/shoot/templates/clusterrole-machine-controller-manager.yaml
  go.mod
  go.sum
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/alicoud_machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/aws_machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/azure_machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/gcp_machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/openstack_machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/packet_machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: area/control-plane, kind/task, needs/ok-to-test, needs/review, platform/vsphere, priority/normal, size/s
