Repository gardener/gardener-extension-provider-vsphere, pull requests merged in 2021-05, with the labels that each got.

#149 Update kubernetes-csi/livenessprobe
  charts/images.yaml
Labels: kind/bug, needs/ok-to-test, needs/review, platform/vsphere, size/xs

#151 using garden clusterIdentity instead of obsolete garden identity
  charts/gardener-extension-provider-vsphere/templates/configmap.yaml
  charts/gardener-extension-provider-vsphere/values.yaml
  example/controller-registration.yaml
  pkg/controller/infrastructure/add.go
  pkg/vsphere/infrastructure/task/interface.go
Labels: area/control-plane, kind/cleanup, needs/ok-to-test, platform/vsphere, reviewed/lgtm, size/xs

#150 include more vSphere Tanzu documentation
  docs/tanzu-vsphere.md
Labels: needs/ok-to-test, platform/vsphere, reviewed/lgtm, size/s

#152 Structure Tanzu Example
  docs/tanzu-vsphere.md
Labels: area/documentation, needs/ok-to-test, platform/vsphere, reviewed/lgtm, size/xs

#153 Add validation for cloud provider Secrets
  charts/gardener-extension-validator-vsphere/charts/application/templates/validatingwebhook-validator.yaml
  cmd/gardener-extension-validator-vsphere/app/app.go
  docs/local-setup.md
  example/40-validatingwebhookconfiguration.yaml
  hack/dev-setup-admission-vsphere.sh
  pkg/apis/vsphere/validation/secrets.go
  pkg/apis/vsphere/validation/secrets_test.go
  pkg/apis/vsphere/validation/shoot.go
  pkg/validator/secret_handler.go
  pkg/validator/shoot_handler.go
  pkg/validator/shoot_validator.go
  vendor/github.com/gardener/gardener/extensions/pkg/util/index/index.go
  vendor/github.com/gardener/gardener/extensions/pkg/util/secret/secret.go
  vendor/modules.txt
Labels: area/ops-productivity, area/robustness, kind/enhancement, needs/ok-to-test, platform/vsphere, reviewed/lgtm, size/l

#157 Update kubernetes-csi/livenessprobe
  charts/images.yaml
Labels: kind/bug, needs/ok-to-test, platform/vsphere, reviewed/lgtm, size/xs

#159 Fix admission RBACs after secret validation implementation
  charts/gardener-extension-validator-vsphere/charts/application/templates/rbac.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs
