Repository gardener/gardener-extension-provider-vsphere, pull requests merged in 2021-01, with the labels that each got.

#119 Vendor gardener/gardener@f6b4e24
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/controller/backupentry/mapper.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/cmd/factory.go
  vendor/github.com/gardener/gardener/hack/install-requirements.sh
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/errors.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/etcd/logging.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/namespaces.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/seedsystemcomponents/seedadmission/logging.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/seed.go
  vendor/github.com/gardener/gardener/pkg/utils/flow/graph.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/bootstrap_token.go
  vendor/github.com/gardener/gardener/test/framework/common.go
  vendor/modules.txt
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#108 docu for preparation of vSphere and NSX-T
  docs/prepare-vsphere.md
Labels: area/control-plane, area/documentation, needs/ok-to-test, needs/review, platform/vsphere, priority/normal, size/m

#123 Change ValidatingWebhookConfiguration to v1
  charts/gardener-extension-validator-vsphere/charts/application/templates/validatingwebhook-validator.yaml
  example/40-validatingwebhookconfiguration.yaml
  example/validator-vsphere-certs/tls.crt
  example/validator-vsphere-certs/tls.key
Labels: area/robustness, kind/enhancement, needs/ok-to-test, platform/vsphere, priority/normal, reviewed/lgtm, size/m
