Repository gardener/gardener-extension-provider-vsphere, pull requests merged in 2021-12, with the labels that each got.

#189 Update mcm-provider-vsphere permissions, updated ccm to v1.22.4
  charts/images.yaml
  charts/internal/machine-controller-manager/shoot/templates/clusterrole-machine-controller-manager.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/vsphere

#191 Downgrade alpine and revendor `gardener/gardener@v1.38.1`
  Dockerfile
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/reconciler.go
  vendor/modules.txt
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#190 Remove the "garden.sapcloud.io/role" label from control plane components
  charts/internal/seed-controlplane/charts/csi-vsphere/templates/deployment-vsphere-csi-controller.yaml
  charts/internal/seed-controlplane/charts/vsphere-cloud-controller-manager/templates/cloud-controller-manager.yaml
Labels: kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs, platform/vsphere
