Repository gardener/gardener-extension-provider-vsphere, pull requests merged in 2021-03, with the labels that each got.

#132 Specify minAllowed cloud-controller-manager VPA
  charts/internal/seed-controlplane/charts/vsphere-cloud-controller-manager/templates/vpa.yaml
Labels: kind/enhancement, needs/ok-to-test, platform/vsphere, reviewed/lgtm, size/xs

#131 add old controlplane role as it is still the one which is used by DWD
  charts/internal/seed-controlplane/charts/csi-vsphere/templates/vsphere-csi-controller.yaml
  charts/internal/seed-controlplane/charts/vsphere-cloud-controller-manager/templates/cloud-controller-manager.yaml
Labels: area/control-plane, area/robustness, kind/bug, needs/ok-to-test, platform/vsphere, reviewed/lgtm, size/xs

#134 fix build problem with generating controller-registration.yaml
  charts/gardener-extension-provider-vsphere/doc.go
  example/controller-registration.yaml
  hack/generate-controller-registration.sh
Labels: area/control-plane, kind/task, needs/ok-to-test, needs/review, platform/vsphere, size/xs

#135 fix build problem with generating controller-registration.yaml (2)
  .ci/verify
  charts/gardener-extension-provider-vsphere/doc.go
  example/controller-registration.yaml
  hack/generate-controller-registration.sh
Labels: area/control-plane, kind/task, needs/ok-to-test, platform/vsphere, reviewed/lgtm, size/s

#136 vsphere-csi-driver v2.1.1
  charts/images.yaml
  charts/internal/seed-controlplane/charts/csi-vsphere/templates/vsphere-csi-controller.yaml
Labels: area/control-plane, area/storage, kind/task, needs/ok-to-test, platform/vsphere, priority/3, reviewed/lgtm, size/s

#137 set systemdisk size from pool volume size
  pkg/controller/worker/machines.go
Labels: area/control-plane, area/storage, kind/enhancement, needs/ok-to-test, platform/vsphere, priority/3, reviewed/lgtm, size/xs
