Repository gardener/gardener-extension-provider-vsphere, pull requests merged in 2021-06, with the labels that each got.

#160 Add support for nodeless dev setup in dev-setup-admission-vsphere.sh
  example/40-validatingwebhookconfiguration.yaml
  hack/dev-setup-admission-vsphere.sh
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, platform/vsphere, reviewed/lgtm, size/s

#162 updated vsphere-csi to v2.2.1
  charts/images.yaml
  charts/internal/seed-controlplane/charts/csi-vsphere/templates/vsphere-csi-controller.yaml
  charts/internal/shoot-system-components/charts/csi-vsphere/templates/configmap-internal-featurestate.yaml
  charts/internal/shoot-system-components/charts/csi-vsphere/templates/daemonset.yaml
  charts/internal/shoot-system-components/charts/csi-vsphere/templates/serviceaccount.yaml
Labels: area/control-plane, kind/task, needs/ok-to-test, needs/review, platform/vsphere, size/s

#164 Add a link to the cherry-pick-pr script from gardener
  Makefile
  hack/cherry-pick-pull.sh
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, platform/vsphere, reviewed/lgtm, size/xs
