Repository gardener/gardener-extension-provider-vsphere, pull requests merged in 2022-09, with the labels that each got.

#298 Publish vsphere-gcve-tm-run
  .ci/pipeline_definitions
  .ci/testruns/default/templates/testrun.yaml
  .test-defs/gcve-setup.yaml
  Dockerfile
  README.md
  go.mod
  go.sum
  test/gcve-setup/common/common.go
  test/gcve-setup/common/types.go
  test/gcve-setup/gcve-setup.go
  vendor/cloud.google.com/go/LICENSE
  vendor/cloud.google.com/go/compute/metadata/metadata.go
  vendor/golang.org/x/oauth2/authhandler/authhandler.go
  vendor/golang.org/x/oauth2/google/appengine.go
  vendor/golang.org/x/oauth2/google/appengine_gen1.go
  vendor/golang.org/x/oauth2/google/appengine_gen2_flex.go
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/doc.go
  vendor/golang.org/x/oauth2/google/google.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/clientauth.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/err.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/filecredsource.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/impersonate.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/sts_exchange.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/urlcredsource.go
  vendor/golang.org/x/oauth2/google/jwt.go
  vendor/golang.org/x/oauth2/google/sdk.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/golang.org/x/oauth2/jwt/jwt.go
  vendor/google.golang.org/appengine/.travis.yml
  vendor/google.golang.org/appengine/CONTRIBUTING.md
  vendor/google.golang.org/appengine/README.md
  vendor/google.golang.org/appengine/appengine.go
  vendor/google.golang.org/appengine/appengine_vm.go
  vendor/google.golang.org/appengine/errors.go
  vendor/google.golang.org/appengine/identity.go
  vendor/google.golang.org/appengine/internal/app_identity/app_identity_service.pb.go
  vendor/google.golang.org/appengine/internal/app_identity/app_identity_service.proto
  vendor/google.golang.org/appengine/internal/modules/modules_service.pb.go
  vendor/google.golang.org/appengine/internal/modules/modules_service.proto
  vendor/google.golang.org/appengine/namespace.go
  vendor/google.golang.org/appengine/timeout.go
  vendor/google.golang.org/appengine/travis_install.sh
  vendor/google.golang.org/appengine/travis_test.sh
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/l

#299 Add gcloud app to GCVE image
  Dockerfile
Labels: needs/ok-to-test, needs/review, size/xs

#300 Fixed broken links - 2022.09
  docs/prepare-vsphere.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/vsphere

#301 Set seccomp profile to RuntimeDefault for csi-driver-node
  charts/internal/shoot-system-components/charts/csi-vsphere/templates/daemonset.yaml
  charts/internal/shoot-system-components/charts/csi-vsphere/templates/podsecuritypolicy.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/vsphere
