Repository gardener/gardener-extension-provider-vsphere, pull requests merged in 2022-05, with the labels that each got.

#218 Update manifest.yaml
  .docforge/manifest.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#228 Remove deprecated dashboards
  charts/internal/seed-controlplane/charts/csi-vsphere/templates/configmap-observability.yaml
  charts/internal/seed-controlplane/charts/csi-vsphere/vsphere-csi-controller-dashboard.json
  charts/internal/seed-controlplane/charts/vsphere-cloud-controller-manager/ccm-dashboard.json
  charts/internal/seed-controlplane/charts/vsphere-cloud-controller-manager/templates/configmap-observability.yaml
Labels: area/logging, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xl, platform/vsphere

#222 Add vSphere extension to testgrid conformance tests
  .ci/pipeline_definitions
  .ci/test-integration.sh
  .ci/testruns/default/Chart.yaml
  .ci/testruns/default/templates/testrun.yaml
  .ci/tm-config.yaml
  .test-defs/gcve-setup.yaml
  Dockerfile
  Makefile
  README.md
  docs/README.md
  docs/local-setup.md
  test/gcve-setup/gcve-setup.go
Labels: area/dev-productivity, kind/test, needs/ok-to-test, needs/review, needs/second-opinion, size/l, platform/vsphere

#231 Set responsible for complicated-reporting-tests
  .ci/pipeline_definitions
Labels: needs/ok-to-test, needs/review, size/xs

#238 Revert "Set responsible for complicated-reporting-tests"
  .ci/pipeline_definitions
Labels: needs/ok-to-test, needs/review, size/xs

#239 Support for Kubernetes v1.24
  README.md
  charts/internal/seed-controlplane/charts/vsphere-cloud-controller-manager/templates/cloud-controller-manager.yaml
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/controller/common/checkerwatchdog.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/common/checkerwatchdogfactory.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/common/watchdogmanager.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/controlplane/genericactuator/actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/util/secret/manager/manager.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/certificates/add.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/certificates/reconciler.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/cmd/options.go
  vendor/github.com/gardener/gardener/hack/test-integration.sh
  vendor/github.com/gardener/gardener/hack/tools.mk
  vendor/github.com/gardener/gardener/pkg/client/kubernetes/client.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/types.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/v1alpha1/types.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/healthz/periodic.go
  vendor/github.com/gardener/gardener/pkg/utils/flow/progress_reporter_delaying.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/health/seed.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/unstructured/object.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/alias.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/certificate.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/manager/manager.go
  vendor/github.com/gardener/gardener/pkg/utils/validation/features/featuregates.go
  vendor/github.com/gardener/gardener/pkg/utils/version/version.go
  vendor/k8s.io/apimachinery/pkg/util/clock/clock.go
  vendor/modules.txt
Labels: area/open-source, area/usability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/vsphere
