Repository gardener/gardener-extension-provider-vsphere, pull requests merged in 2022-04, with the labels that each got.

#215 Add snaphot validation webhook
  charts/images.yaml
  charts/internal/seed-controlplane/charts/csi-vsphere/templates/csi-snapshot-validation-webhook-deployment.yaml
  charts/internal/seed-controlplane/charts/csi-vsphere/templates/csi-snapshot-validation-webhook-networkpolicy.yaml
  charts/internal/seed-controlplane/charts/csi-vsphere/templates/csi-snapshot-validation-webhook-service.yaml
  charts/internal/seed-controlplane/charts/csi-vsphere/templates/csi-snapshot-validation-webhook-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-vsphere/values.yaml
  charts/internal/shoot-system-components/charts/csi-vsphere/templates/csi-snapshot-validation-webhook.yaml
  charts/internal/shoot-system-components/charts/csi-vsphere/values.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/vsphere/types.go
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, platform/vsphere

#224 Add ready check for webhook server
  charts/gardener-extension-provider-vsphere/templates/deployment.yaml
  charts/gardener-extension-provider-vsphere/values.yaml
  charts/gardener-extension-validator-vsphere/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-validator-vsphere/values.yaml
  cmd/gardener-extension-provider-vsphere/app/app.go
  cmd/gardener-extension-validator-vsphere/app/app.go
  example/controller-registration.yaml
  vendor/github.com/gardener/gardener/pkg/healthz/default.go
  vendor/github.com/gardener/gardener/pkg/healthz/healthz.go
  vendor/github.com/gardener/gardener/pkg/healthz/informer.go
  vendor/github.com/gardener/gardener/pkg/healthz/periodic.go
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, platform/vsphere

#225 Move `Name` field to `ControlPlaneSecretConfig`
  pkg/controller/controlplane/valuesprovider.go
Labels: area/open-source, kind/enhancement, needs/ok-to-test, platform/gcp, reviewed/lgtm, size/xs
