Repository gardener/gardener-extension-provider-vsphere, pull requests merged in 2022-10, with the labels that each got.

#304 Vendor gardener `v1.56.0`
  go.mod
  go.sum
  pkg/controller/healthcheck/add.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/shoot/shoot.go
  vendor/github.com/gardener/gardener/hack/ci-e2e-kind.sh
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/helper.go
  vendor/github.com/gardener/gardener/pkg/apis/resources/v1alpha1/types.go
  vendor/github.com/gardener/gardener/pkg/utils/checksums.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/kubernetes.go
  vendor/github.com/gardener/gardener/test/framework/shootmigrationtest.go
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/vsphere, merge/squash

#305 Support for Kubernetes v1.25
  README.md
  charts/gardener-extension-provider-vsphere/templates/poddisruptionbudget.yaml
  charts/gardener-extension-validator-vsphere/charts/runtime/templates/poddisruptionbudget.yaml
  charts/images.yaml
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, reviewed/do-not-merge, size/xs, topology/garden, topology/seed, topology/shoot, platform/vsphere, merge/squash

#310 Fix image version for Testdefinition
  .test-defs/provider-vsphere.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/vsphere, area/testing

#311 Remove `--port` option for cloud-controller-manager
  charts/internal/seed-controlplane/charts/vsphere-cloud-controller-manager/templates/cloud-controller-manager.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/vsphere

#312 Restructure test container to base on `cc/job-image`
  .ci/pipeline_definitions
  Dockerfile
Labels: area/security, kind/cleanup, needs/ok-to-test, needs/review, size/s
