Repository gardener/gardener-extension-provider-vsphere, pull requests merged in 2022-06, with the labels that each got.

#240 Update/remove csi-snapshot-controller memory/cpu limits. Disable limit autoscaling.
  charts/internal/seed-controlplane/charts/csi-vsphere/templates/vpa-csi-snapshot-controller.yaml
  charts/internal/seed-controlplane/charts/csi-vsphere/values.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, needs/review, size/xs, area/auto-scaling, platform/vsphere

#242 fix permission issue
  .ci/test-integration.sh
Labels: needs/ok-to-test, needs/review, size/xs

#243 Fix Docforge manifest to accept main branch name change
  .docforge/manifest.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#245 Vendor gardener/machine-controller-manager@v0.45.0
  go.mod
  go.sum
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/alicoud_machineclass_types.go
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#247 Update for new secret name
  .ci/testruns/default/templates/testrun.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#248 Fix Helm chart
  .ci/testruns/default/templates/testrun.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#249 More #236 testing, fix locationSet to be more robust
  .ci/testruns/default/templates/testrun.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#250 More #236, getting this right is FUN!!!
  .ci/testruns/default/templates/testrun.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#251 More #236, getting this right is FUN!!!
  .ci/testruns/default/templates/testrun.yaml
Labels: needs/ok-to-test, needs/rebase, needs/review, size/xs

#252 Fix bad search/replace
  .ci/testruns/default/templates/testrun.yaml
Labels: needs/ok-to-test, needs/review, size/xs, platform/vsphere

#256 Adjust metric name due to upgrading the kube-state-metrics component
  charts/internal/machine-controller-manager/seed/mcm-monitoring-dashboard.json
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/vsphere

#257 creating release 14 for gardener-extension-provider-vsphere
  .ci/pipeline_definitions
  .ci/test-integration.sh
  hack/api-reference/api.json
  hack/api-reference/api.md
  hack/api-reference/config.json
  hack/api-reference/config.md
  hack/tools.go
  hack/tools/bin/.gitkeep
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#258 Remove GCVE test steps
  .ci/pipeline_definitions
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#255 Add parsers for csi-snapshot pods
  charts/gardener-extension-provider-vsphere/templates/configmap-logging.yaml
  charts/internal/seed-controlplane/charts/csi-vsphere/templates/csi-snapshot-validation-webhook-deployment.yaml
  charts/internal/seed-controlplane/charts/csi-vsphere/templates/csi-snapshot-validation-webhook-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-vsphere/templates/deployment-csi-snapshot-controller.yaml
  charts/internal/seed-controlplane/charts/csi-vsphere/templates/vpa-csi-snapshot-controller.yaml
  example/controller-registration.yaml
Labels: area/logging, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/vsphere

#259 chmod on test-integration and merged with main
  .ci/test-integration.sh
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#254 Change base image from alpine to distroless
  Dockerfile
Labels: area/open-source, area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/vsphere

#260 bumping for distroless container
  .ci/test-integration.sh
  VERSION
  example/controller-registration.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs
