Repository gardener/gardener-extension-provider-vsphere, pull requests merged in 2023-06, with the labels that each got.

#432 Remove old and obsolete logging configurations
  charts/gardener-extension-provider-vsphere/templates/clusterfilters-logging.yaml
  charts/gardener-extension-provider-vsphere/templates/configmap-logging.yaml
  example/controller-registration.yaml
Labels: area/logging, kind/cleanup, needs/ok-to-test, needs/rebase, needs/review, reviewed/lgtm, size/s, platform/vsphere

#435 Allow access to webhook server from shoot API servers
  charts/gardener-extension-provider-vsphere/templates/service.yaml
  example/controller-registration.yaml
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#436 Drop code related to `APIServerSNI` feature gate
  pkg/webhook/controlplaneexposure/ensurer.go
  pkg/webhook/controlplaneexposure/ensurer_test.go
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/m

#437 Adapt to new `MachineControllerManagerDeployment` feature gate
  charts/gardener-extension-provider-vsphere/templates/deployment.yaml
  charts/gardener-extension-provider-vsphere/values.yaml
  cmd/provider-vsphere/app/app.go
  example/controller-registration.yaml
  pkg/controller/healthcheck/add.go
  pkg/controller/worker/actuator.go
  pkg/controller/worker/add.go
  pkg/webhook/controlplane/add.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
  vendor/github.com/gardener/gardener/pkg/utils/test/gomock.go
  vendor/github.com/gardener/gardener/pkg/utils/test/manager.go
  vendor/github.com/gardener/gardener/pkg/utils/test/matchers/conditions.go
  vendor/github.com/gardener/gardener/pkg/utils/test/matchers/deep.go
  vendor/github.com/gardener/gardener/pkg/utils/test/matchers/fields.go
  vendor/github.com/gardener/gardener/pkg/utils/test/matchers/kubernetes_errors.go
  vendor/github.com/gardener/gardener/pkg/utils/test/matchers/matchers.go
  vendor/github.com/gardener/gardener/pkg/utils/test/matchers/reference.go
  vendor/github.com/gardener/gardener/pkg/utils/test/options.go
  vendor/github.com/gardener/gardener/pkg/utils/test/test.go
  vendor/github.com/gardener/gardener/pkg/utils/test/test_resources.go
  vendor/modules.txt
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#438 Fix namespace selector
  charts/gardener-extension-provider-vsphere/templates/service.yaml
  example/controller-registration.yaml
Labels: needs/ok-to-test, needs/review, size/xs
