Repository gardener/gardener-extension-provider-vsphere, pull requests merged in 2023-08, with the labels that each got.

#452 Update vsphere-csi versions
  charts/images.yaml
Labels: area/control-plane, kind/task, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/vsphere

#453 Upgrade v1beta2 vpa resource to v1
  charts/gardener-extension-provider-vsphere/templates/vpa.yaml
  charts/gardener-extension-validator-vsphere/charts/runtime/templates/vpa.yaml
  cmd/provider-vsphere/app/app.go
  pkg/controller/controlplane/valuesprovider.go
Labels: kind/api-change, needs/ok-to-test, reviewed/lgtm, size/xs, platform/vsphere, area/compliance

#454 Add support for projected volume kubeconfig
  charts/gardener-extension-validator-vsphere/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-validator-vsphere/values.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s, platform/vsphere

#459 Revendor
  example/20-crd-druid.gardener.cloud_etcds.yaml
  example/20-crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  pkg/apis/vsphere/helper/scheme_test.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#460 Fix NPEs in shoot and secret validators
  cmd/validator-vsphere/app/app.go
  pkg/validator/secret_handler.go
  pkg/validator/shoot_handler.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s, platform/vsphere

#461 Fix NPE in controlplane webhook
  pkg/webhook/controlplane/add.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s, platform/vsphere
