Repository gardener/gardener-extension-provider-vsphere, pull requests merged in 2023-09, with the labels that each got.

#463 CSI topology labels on MachineDeployment supporting scale from zero
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/vsphere/types.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, area/auto-scaling, platform/vsphere

#469 Fix merge
  pkg/webhook/controlplane/ensurer_test.go
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#472 Drop support for Shoots with Kubernetes version < 1.24
  README.md
  charts/images.yaml
  docs/operations/operations.md
  example/gardener-local/gardener-local-charts/templates/shoot.yaml
  pkg/apis/vsphere/validation/controlplane_test.go
Labels: area/open-source, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs, platform/vsphere
