Repository gardener/gardener-extension-provider-vsphere, pull requests merged in 2023-03, with the labels that each got.

#376 Remove the use of the enableBasicAuthentication field
  example/gardener-local/gardener-local-charts/templates/shoot.yaml
  test/gcve-setup/gcve-setup.go
  test/gcve-setup/test/test.go
Labels: area/open-source, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/vsphere

#380 Remove minAllowed.cpu for all components
  charts/gardener-extension-provider-vsphere/templates/vpa.yaml
  charts/gardener-extension-provider-vsphere/values.yaml
  charts/gardener-extension-validator-vsphere/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-validator-vsphere/values.yaml
  charts/internal/machine-controller-manager/seed/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/vsphere-cloud-controller-manager/templates/vpa.yaml
  example/controller-registration.yaml
  example/gardener-local/gardener-local-charts/templates/controllerdeployment-list.yaml
  example/gardener-local/provider-vsphere/values.yaml
  example/gardener-local/validator-vsphere/values.yaml
Labels: kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/auto-scaling, platform/vsphere

#381 Additional fixes to revert pipeline build.
  .ci/pipeline_definitions
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, needs/review, size/xs, platform/vsphere

#384 Add wait-for-csi-node annotation to csi-driver-node Pods
  charts/internal/shoot-system-components/charts/csi-vsphere/templates/daemonset.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, reviewed/lgtm, reviewed/do-not-merge, size/xs, platform/vsphere

#385 Vendor `gardener@1.66.1` and add `ShootSystemComponentsHealthy` to `conditionTypesToRemove`
  go.mod
  go.sum
  pkg/controller/healthcheck/add.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/reconciler.go
  vendor/modules.txt
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/vsphere

#386 [release-v0.25] Vendor `gardener@1.65.3` and add `ShootSystemComponentsHealthy` to `conditionTypesToRemove`
  go.mod
  go.sum
  pkg/controller/healthcheck/add.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/reconciler.go
  vendor/modules.txt
Labels: area/control-plane, kind/bug, needs/review, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/vsphere

#390 Upgrade machine-controller-manager-provider-vsphere
  charts/images.yaml
Labels: needs/ok-to-test, needs/review, size/xs, platform/vsphere

#392 Update vSphere csi-driver to v3.0.0
  charts/images.yaml
  charts/internal/seed-controlplane/charts/csi-vsphere/templates/deployment-vsphere-csi-controller.yaml
  charts/internal/shoot-system-components/charts/csi-vsphere/templates/clusterrole-csi-driver.yaml
  charts/internal/shoot-system-components/charts/csi-vsphere/templates/clusterrole-csi-syncer.yaml
  charts/internal/shoot-system-components/charts/csi-vsphere/templates/configmap-internal-featurestate.yaml
  charts/internal/shoot-system-components/charts/csi-vsphere/templates/daemonset.yaml
Labels: area/control-plane, kind/task, needs/ok-to-test, needs/review, size/s, platform/vsphere

#391 Make the `csi-snapshot-validation` and `gardener-extension-provider-vsphere` Services topology-aware
  charts/gardener-extension-provider-vsphere/templates/service.yaml
  charts/gardener-extension-provider-vsphere/values.yaml
  charts/internal/seed-controlplane/charts/csi-vsphere/templates/csi-snapshot-validation-webhook-service.yaml
  charts/internal/seed-controlplane/charts/csi-vsphere/values.yaml
  example/controller-registration.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/high-availability, area/networking, kind/enhancement, needs/ok-to-test, needs/rebase, needs/review, size/m, platform/vsphere
