Repository gardener/gardener-extension-provider-vsphere, pull requests merged in 2023-05, with the labels that each got.

#402 Add a new metric that will allow Prometheus to scrape the stale machine count
  charts/internal/machine-controller-manager/seed/templates/configmap-monitoring.yaml
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#405 Run `make generate`
  example/controller-registration.yaml
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#406 install yq for make generate
  Makefile
Labels: needs/ok-to-test, reviewed/lgtm, size/xs, platform/vsphere

#407 Fix machine-controller-manager flags
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/vsphere

#410 Remove update-prs job
  .ci/pipeline_definitions
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#411 Adapt `NetworkPolicy`s
  charts/gardener-extension-provider-vsphere/templates/service.yaml
  charts/gardener-extension-validator-vsphere/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-validator-vsphere/charts/runtime/templates/service.yaml
  charts/internal/machine-controller-manager/seed/templates/service.yaml
  charts/internal/seed-controlplane/charts/csi-vsphere/templates/csi-snapshot-validation-webhook-service.yaml
  charts/internal/seed-controlplane/charts/vsphere-cloud-controller-manager/templates/cloud-controller-manager-svc.yaml
  example/controller-registration.yaml
  pkg/webhook/controlplane/ensurer.go
Labels: area/networking, area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/vsphere

#420 Remove file
  docs/README.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/vsphere

#424 Fix for c77f4c67
  charts/images.yaml
  go.mod
  go.sum
  pkg/vsphere/infrastructure/ensurer/connector.go
  pkg/vsphere/infrastructure/ensurer/ensurer.go
  pkg/vsphere/infrastructure/ensurer/get_nsxt_version.go
  vendor/github.com/vmware/vsphere-automation-sdk-go/runtime/protocol/client/connector_options.go
  vendor/modules.txt
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/s, platform/vsphere
